// Here you can add other styles
.my-custom-multiselect {
  --cui-form-multi-select-border-color: transparent;
  --cui-form-multi-select-disabled-border-color: transparent;
  border: none !important;
  box-shadow: none !important;
}